/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 10, 2022, 2:03:23 PM
    Author     : Admin
*/

.dropdown {
  
}

.dropdown-menu {
  max-height: 20rem;
  overflow-y: auto;
}
.examForm{
    width: 100%;
    height: 80vh;
    /*background: #6db9ff;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.examTemp{
    width: 40%;
    height: 70%;
    background:#f1c40f;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.exam_title{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: white;
}
.exambtn_gr{
    display: flex;
    justify-content: space-around;
}
.exambtn_gr button{
    width: 200px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 10px;
}
.sizeWeight{
    font-size: 18px;
    font-weight: 600;
}







