/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 7, 2022, 6:09:50 AM
    Author     : ACER
*/

body {
    font-family: "Arial";
    color: white;
    /*background-color: tomato;*/
}

