/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 9, 2022, 10:22:16 AM
    Author     : Admin
*/

.pre_body{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.pre_left{
    width: 30%;
    height: 100%;
}
.pre_left_top{
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}
.pre_left_bot{
    width: 100%;
    height: 50%;
}
.pre_right{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        
}
.pre_right_left{
    width: 40%;
    height: 100%;
    padding: 0 10px;  
}

.pre_right_left_btn{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: end;
}
.pre_right_left_btn button{
    width: 25%;
    height: 80%;
    margin-right: 5%;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.pre_right_right{
    width: 60%;
    height: 100%;
    padding: 0 10px;
    overflow-y: scroll;
}
.pre_search_bar{
    border-radius: 5px;
    overflow: hidden;
}
.pre_search_bar input{
    background: #CDCDCD;
}
.pre_left_bot_druginfo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.druginfo_tag{
    height: auto;
    background: #C5E057;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding:3px;
    border-radius: 5px;
    margin:0 3px 3px 0;
}
.druginfo_tag span{
    height: 70%;
    background: #DFDFDF;
    border-radius: 5px;
    text-align: justify;
    padding: 5px;
    
}
.druginfo_btn{
    width: 50%;
    
    
}
.druginfo_btn input{
    width: 100px;
    color: white;
}




