/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 14, 2022, 10:44:11 AM
    Author     : Admin
*/
.regist_drop{
    width: 100%;
    height: 8%;
}

.regist_drop label{
    color: white;
    font-size: 17px;
}

.regist_drop select{
    width: 30%;
    height: 60%;
    font-size: 20px;
    font-weight: 600
}

.regist_radio{
    display: flex;
    color: white;
    font-size: 20px;
}

.regist_radio input{
  height:30px; 
  width:30px; 
  vertical-align: middle;
  cursor: pointer;
}
#display_image{
  width: 400px;
  height: 225px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}
.regist_chooseimg{
    color: white;
    margin-bottom: 5%
}